<h3 style="text-align: center;">Item List</h3>
<table class="table table-hover" style="margin-left: 1%">
    <thead>
      <th>Item Name</th>
      <th>Type</th>
      <th>UOM</th>
      <th>Sales Price</th>
      <th>Unit Price</th>
      <th></th>
  
    </thead>
    <tbody>
      <tr *ngFor="let item of items | async" >
        <td >{{item.name}}</td>
        <!-- <td (click)="onEdit(emp)"></td> -->
        <td>{{item.itemType.name}}</td>
        <td>{{item.uOM}}</td>
        <td>{{item.salesPrice}}</td>
        <td>{{item.unitPrice}}</td>
         <td><button class="btn text-danger" (click)="onDelete(item.id)"><i class="fa fa-trash"></i></button></td>
         <td><a class="btn text-success" (click)="onDelete(emp.id)"><i class="fa fa-edit"></i></a></td>
      </tr>
    </tbody>
  </table>